@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Quicksand&family=Roboto&family=Saira&display=swap");

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 0;
}

#game-screen {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#game-board {
    background-color: red;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: none;
    
    display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

#game-shapes {
    background-color: blue;
}

.grid-cell {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.grid-square-0, .grid-square-2, .grid-square-4, .grid-square-6, .grid-square-8{
    background-color: rgb(255, 218, 171);
}

