@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* colour variables */
:root {
  --dark-color: #242b28;
  --cream-dark: #d9b09c;
  --cream-light: #ffcb9a;
  --light-color: #d1e8e2;
  /* tile colour */
  --primary-color: #116466;
  --border-top: #418385ff;
  --border-right: #0a3c3dff;
  --border-bottom: #0e5052ff;
  --border-left: #70a2a3ff;

  --highlight-primary: #74f4f7;
  --hightlight-border-top: #90f6f9ff;
  --hightlight-border-right: #469294ff;
  --hightlight-border-bottom: #5dc3c6ff;
  --hightlight-border-left: #acf8faff;

  --destroy-primary: #661a11ff;
  --destroy-border-top: #854841ff;
  --destroy-border-right: #3d100aff;
  --destroy-border-bottom: #52150eff;
  --destroy-border-left: #a37670ff;
}

/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&family=Gloria+Hallelujah&family=Roboto&display=swap");

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color);
  margin: 0;
}

#game-screen {
  display: flex;
  align-items: end;
  justify-content: end;
}

#game-board {
  background-color: var(--cream-dark);
  border-radius: 7%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: none;
  /* Game Grid */
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

#game-controls {
  display: flex;
}

.menu-container {
  display: flex;
  background-color: transparent;
}

.menu-button {
  border-radius: 15%;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-button p {
  text-align: center;
  margin: 0;
  font-size: 2rem;
  color: white;
  font-family: "Big Shoulders Stencil Display", cursive;
}

#game-shapes {
  display: flex;
  justify-content: space-between;
}

.game-box {
  border: 1px solid rgba(0, 0, 0, 1);
  display: inline-block;
  margin: 0;
  background: var(--light-color);
  border-radius: 7%;
}

.grid-square-0,
.grid-square-2,
.grid-square-4,
.grid-square-6,
.grid-square-8 {
  background-color: var(--cream-light);
}

.shape-window {
  display: flex;
  justify-content: center;
  align-items: center;
}

.draggable {
  cursor: pointer;
  box-sizing: border-box !important;
}

/* dragable sizes */

.shape-box {
  box-sizing: border-box !important;
}

.draggable-one {
  width: 25%;
  height: 25%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.draggable-two {
  width: 50%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 2fr);
}
.draggable-three {
  width: 75%;
  height: 75%;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(3, 3fr);
}
.draggable-four {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: repeat(4, 4fr);
}

#game-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--light-color);
  background-color: transparent;
}

.game-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15%;
  font-size: 3.5vw;
}

/* -------------------------------------------------   Drag and d rop testing ---------------------------------------------*/

.filled-box {
  background-color: var(--primary-color);
  border-top: 0.5rem solid var(--border-top);
  border-right: 0.5rem solid var(--border-right);
  border-bottom: 0.5rem solid var(--border-bottom);
  border-left: 0.5rem solid var(--border-left);
  border-radius: 15%;
}

.filled-field {
  background-color: var(--primary-color);
  border-top: 0.5rem solid var(--border-top);
  border-right: 0.5rem solid var(--border-right);
  border-bottom: 0.5rem solid var(--border-bottom);
  border-left: 0.5rem solid var(--border-left);
}

/* second highlight is for tiles to be destroyed and i want highlight 1 to override 2nd */
.highlighted-square2 {
  background-color: var(--destroy-primary);
  border-top: 0.5rem solid var(--destroy-border-top);
  border-right: 0.5rem solid var(--destroy-border-right);
  border-bottom: 0.5rem solid var(--destroy-border-bottom);
  border-left: 0.5rem solid var(--destroy-border-left);
}

.highlighted-square {
  background-color: var(--highlight-primary);
  border-top: 0.5rem solid var(--hightlight-border-top);
  border-right: 0.5rem solid var(--hightlight-border-right);
  border-bottom: 0.5rem solid var(--hightlight-border-bottom);
  border-left: 0.5rem solid var(--hightlight-border-left);
}

#game-screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 1140px) {
  #game-screen-container {
    width: 960px;
    height: 540px;
  }
}

.modal-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dificulity-choice {
  margin-bottom: 2rem;
}
